.side__menu-backdrop((click)='closeSideMenu()')
.side__menu-links
    a.menu__link('*ngFor'="let item of menuItems" '(click)'='closeSideMenu()' '[routerLink]'="item.href" routerLinkActive='active')
        i(class="{{item.icon}}")
        span {{item.title}}