acp-viewport
    .top-container('*ngIf'='!loading')
        .desc-block
            h2.title {{article.title}}
            ul.article__tags('*ngIf'='tags')
                li.article__tag('*ngFor'='let tag of tags') {{tag}}
            .author
                span {{userName}}
            .date
                acp-timestamp('[date]'='article.createdAt')  
        .image-block('[ngStyle]'="{ 'background-image': 'url('+article.image+')'}")
    .content('*ngIf'='!loading')
        .text('[innerHTML]'='article.text')
        .points
            .likes
                acp-like(
                    '[isActive]'='article.isLike' 
                    type='like' 
                    '[count]'='article.likes' 
                    '(onLikeToggle)'='likeToggle()'
                    )
            .stars
                acp-like(
                    '[isActive]'='article.isFavorite' 
                    type='star' 
                    '[count]'='article.stars' 
                    '(onLikeToggle)'='favoriteToggle()'
                    )
    acp-workshop-sidebar