form('[formGroup]'='form' '(ngSubmit)'='onSubmit(form)' novalidate='' autocomplete='off')
    ng-container('*ngFor'='let field of config; index as i')
        .form-control
            ng-container(acpDynamicField '[config]'='field' '[group]'='form')

