@import "variables/variables";
:host {
    display: inline-block;
}

.tag {
    display: block;
    background-color: lighten($dark, 80%);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    user-select: none;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.4s;
    &.strong {
        border-radius: 0;
        margin-bottom: 0;
    }
    &.active {
        color: $white;
        background-color: $primary;
    }
    &:hover {
        background-color: $primary;
        color: $dark;
    }
}
