nav.side__menu([ngClass]='{active: isMenu}')
    .side__menu-backdrop((click)='closeMenu()')
    .side__menu-links
        a.menu__link(*ngFor="let item of menuItems" href="{{item.href}}")
            i(class="{{item.icon}}")
            span {{item.title}}