div('[attr.class]'='isSideContent ? "side__content show" : "side__content"')
    .show-panel-button('(click)'='toggleSideContent()')
        i('[attr.class]'='isSideContent ? "icon-keyboard_arrow_down left" : "icon-keyboard_arrow_down"')
    form.demo-form
        label.demo-form__input
            span Field title 1
            input(type="text" name='val1' placeholder='Something')
        label.demo-form__input
            span Field title 2
            input(type="text" name='val2' placeholder='Something')
        input(type="submit", value="Submit").demo-form__input-submit