@import "variables/variables";
:host {
    display: flex;
    height: 40px;
    align-items: center;
    flex-wrap: nowrap;
}
.counter {
    font-size: 16px;
    color: $dark;
    transition: color 0.4s;
    margin-right: 4px;
    &.active {
        color: $red;
    }
}
.like,
.star {
    width: 100%;
    height: 100%;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    position: relative;
    &:hover {
        & i:first-child {
            opacity: 0;
        }
        & i:last-child {
            opacity: 1;
        }
        & i {
            color: $red;
        }
    }
    & i {
        color: lighten($dark, 65%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        opacity: 1;
        transition: all 0.4s;
        &.active {
            color: $red;
            &:last-child {
                opacity: 1;
            }
        }
        &:last-child {
            opacity: 0;
        }
    }
}
