.input__Container
    label.inputLabel('*ngIf'='label' '[ngClass]'='{empty: empty}' '[for]'="inputId") {{label}}
    input(
        '[type]'='type'
        '[id]'='inputId'
        '[(ngModel)]'='value'
        '(ngModelChange)'='onChange(value)'
        '(blur)'='onBlur($event)'
        '(focus)'='onFocus()'
        required
    )

