.main__content
    div(#top='')
    acp-to-top-button('(click)'='scrollTop(top)' '[active]'='isScrolled')
    .main__content-container
        ng-content
ng-content(select='acp-workshop-sidebar')

        