acp-to-top-button('[scrollEl]'='_scrollEl')
.viewport
    .main__content(#scroll='')
        .main__content-container
            ng-content
    ng-content(select='acp-workshop-sidebar')
    ng-content(select='acp-quizz-sidebar')