@import "variables/variables";
@import "mixins/mixins";
:host {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}
.viewport {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}
.main__content {
    height: 100%;
    flex-grow: 1;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    overflow: auto;
    position: relative;
    @include medium() {
        padding: 24px 5%;
    }
    @include small() {
        padding: 16px 5%;
    }
}
.main__content-container {
    max-width: 1440px;
}

.side__content {
    height: 100%;
    width: 0;
    padding: 32px 0;
    box-shadow: -3px 0px 8px 0px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    flex-shrink: 0;
    transition: width 0.4s;
    &.show {
        width: 320px;
        padding: 32px 10px;
    }
    @include medium() {
        display: none;
    }
    @include wide() {
        &.show {
            width: 480px;
            padding: 32px 10px;
        }
    }
}

.side__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2000px;
}

.show-panel-button {
    position: absolute;
    border: none;
    right: -24px;
    top: 10px;
    width: 60px;
    height: 30px;
    background-color: $primary;
    color: $white;
    transform-origin: center;
    display: flex;
    padding-left: 6px;
    align-items: center;
    outline: none;
    cursor: pointer;
    transition: background-color 0.4s, right 0.4s;
    &:hover {
        background-color: $primary;
        right: 0px;
    }
    & i {
        transition: transform 0.4s;
        transform: rotate(90deg);
        font-size: 24px;
        &.left {
            transform: rotate(-90deg);
        }
    }
}
