@import "variables/variables";
@import "mixins/mixins";
:host {
    display: block;
    position: absolute;
    z-index: 60;
    bottom: 40px;
    left: 40px;
}
.to-top {
    border: none;
    background-color: $dark;
    position: relative;
    width: 48px;
    height: 48px;
    padding: 0;
    cursor: pointer;
    color: $white;
    transition: all 0.3s;
    opacity: 0;
    display: none;
    transform: rotate(45deg);
    & i {
        display: inline-block;
        font-size: 32px;
        transform: rotate(-45deg);
        @include medium() {
            font-size: 24px;
        }
    }
    @include medium() {
        width: 36px;
        height: 36px;
    }
    &:hover {
        background-color: $primary;
        color: $dark;
        @include medium() {
            background-color: $dark;
            color: $white;
        }
    }
    &:focus {
        outline: none;
    }
    &.active {
        display: block;
        opacity: 1;
    }
}
