.user-pic('*ngIf'='comment.user')
    acp-user-pic('[src]'='""' '[name]'='fullname()')
.content('*ngIf'='comment.user')
    .user-name {{fullname()}}
    .date
        acp-timestamp('[date]'='comment.updatedAt')
    p.comment__text('*ngIf'='!isEdit') {{comment.text}}
    .edit('*ngIf'='isEdit')
        acp-comment-form('[comment]'='comment' '(submit)'='onCommentEdit($event)')
    .controls('*ngIf'='userCompare')
        button.edit('(click)'='edit()') edit
        button.delete('(click)'="delete()") delete