@import "mixins/mixins";
@import "variables/variables";

.side__content {
    height: 100%;
    width: 0;
    padding: 32px 0;
    box-shadow: -3px 0px 8px 0px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    flex-shrink: 0;
    transition: width 0.4s;
    &.show {
        width: 320px;
        padding: 32px 10px;
    }
    @include medium() {
        display: none;
    }
    @include wide() {
        &.show {
            width: 480px;
            padding: 32px 10px;
        }
    }
}

.side__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2000px;
}

.show-panel-button {
    position: absolute;
    border: none;
    right: -24px;
    top: 10px;
    width: 60px;
    height: 30px;
    background-color: $primary;
    color: $primary;
    transform-origin: center;
    display: flex;
    padding-left: 6px;
    align-items: center;
    outline: none;
    cursor: pointer;
    transition: color 0.4s, background-color 0.4s, right 0.4s;
    &:hover {
        background-color: $primary;
        color: $primary;
        right: 0px;
    }
    & i {
        transition: transform 0.4s;
        transform: rotate(90deg);
        font-size: 24px;
        color: $white;
        &.left {
            transform: rotate(-90deg);
        }
    }
}
