div.side__content('[ngClass]'='{show: isSideContent}')
    a.show-panel-button('(click)'='toggleSideContent()' '[routerLink]'='[{outlets: {aside: link}}]')
        i.icon-keyboard_arrow_down('[ngClass]'='{left: isSideContent}')
    .side__content-wrapper
        .tabs-container
            acp-tab-group
                acp-tab('*ngFor'='let tab of tabs' '[title]'='tab.title' '[link]'='tab.link')
        .scrollable
            router-outlet(name="aside")
    
