@import "mixins/mixins";
@import "variables/variables";

.side__content {
    height: 100%;
    width: 0;

    box-shadow: -3px 0px 8px 0px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    transition: width 0.4s;
    position: relative;
    &.show {
        width: 320px;
    }
    @include medium() {
        display: none;
    }
    @include wide() {
        &.show {
            width: 480px;
        }
    }
}

.side__content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: 36px;
    z-index: 55;
    background-color: $white;
}
.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    flex-grow: 1;
}
.tabs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
}

.show-panel-button {
    position: absolute;
    z-index: 50;
    border: none;
    left: -24px;
    top: 50%;
    width: 48px;
    height: 48px;
    background-color: $dark;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    transform: translateY(-50%) rotate(45deg);
    transition: color 0.4s, background-color 0.4s, right 0.4s;
    &:hover {
        background-color: $primary;
        color: $primary;
        right: 0px;
    }
    & i {
        display: inline-block;
        background-color: transparent;
        transition: transform 0.4s;
        transform: rotate(45deg);
        margin-bottom: -20px;
        margin-right: 20px;
        &::before {
            display: inline-block;
            font-size: 32px;
            color: $white;
        }
        &.left {
            transform: rotate(-135deg);
        }
    }
}
