.wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
}

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    position: relative;
    flex-grow: 1;
}
