include ../views/layout/header.pug
.wrapper
    include ../views/layout/sideMenu.pug
    main
        include ../views/layout/mainContentArea.pug
        include ../views/layout/sideContentArea.pug
        