acp-top-pane('[user]'='user' '[isMenu]'='isMenu' '(toggleMenu)'='toggleMenu()')
.wrapper
    main
        include ../views/layout/mainContentArea.pug
        include ../views/layout/sideContentArea.pug
    acp-side-menu('[isMenu]'='isMenu' '(closeMenu)'='closeMenu($event)')