include ../views/layout/header.pug
.wrapper
    main
        include ../views/layout/mainContentArea.pug
        include ../views/layout/sideContentArea.pug
    include ../views/layout/sideMenu.pug