.side__content {
    height: 100%;
    width: 0;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    box-shadow: -3px 0px 8px 0px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    flex-shrink: 0;
    order: 1;
    transition: width 0.4s;
    align-self: flex-end;
    &.show {
        width: 320px;
        padding: 32px 10px;
    }
    @include medium() {
        display: none;
    }
    @include wide() {
        &.show {
            width: calc(100% - 1580px);
            padding: 32px 10px;
        }
    }
}

.demo-form {
    width: 300px;
    text-align: center;
}

.demo-form__input {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    color: $dark;
    & span {
        margin-bottom: 8px;
        font-size: 16px;
        cursor: pointer;
    }
    & input {
        background: lighten($dark, 80);
        color: $dark;
        border: none;
        padding: 12px 8px;
        font-size: 16px;
        &:hover {
            background: lighten($dark, 74);
        }
        &:focus {
            background: lighten($dark, 74);
        }
    }
}

.demo-form__input-submit {
    border: none;
    background-color: $primary;
    color: $text;
    padding: 10px 24px;
    cursor: pointer;
    letter-spacing: 1px;
    &:hover {
        background: $primaryDark;
    }
}

.show-panel-button {
    position: absolute;
    right: -24px;
    top: 120px;
    width: 60px;
    height: 30px;
    background-color: $primary;
    color: $text;
    transform-origin: center;
    display: flex;
    padding-left: 6px;
    align-items: center;
    transition: background-color 0.4s, right 0.4s;
    &:hover {
        background-color: $primaryDark;
        right: 0px;
    }
    & i {
        transition: transform 0.4s;
        transform: rotate(90deg);
        font-size: 24px;
        &.left {
            transform: rotate(-90deg);
        }
    }
}
