acp-viewport
    .container('*ngIf'='!loading')
        .feed
            .card-container('*ngFor'='let quiz of quizzes')
                acp-card
                    .header
                        a.title('[routerLink]'="'/quizzes/'+quiz.id") {{quiz.name}}
                        .date
                            acp-timestamp('[date]'='quiz.updatedAt') 
                ng-container('*ngIf'='user$ | async as user')
                    .controls('*ngIf'='quiz.author === user._id || user.role === "admin"')
                        a.control.edit(
                            '*ngIf'='quiz.status === "draft"' 
                            '[routerLink]'='[{outlets: {aside: "construct/" + quiz.id}}]' 
                        )
                            i.icon-edit
                        button.control.delete('(click)'='onQuizDelete(quiz.id)')
                            i.icon-close
    acp-quizz-sidebar