acp-viewport
    .container
        .status
            svg(viewBox="0 0 219 113" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M35.3553 25.6447L0 61L35.3553 96.3553L70.7107 61L35.3553 25.6447Z" fill="#050608")
                path(d="M24.84 73.1547H55.9182V75.7915L65.6243 66.0766H64.637V54.9278L55.9182 46.2055V66.0766H34.6838L50.7204 40.9985L45.6119 35.9L24.84 68.0454V73.1547Z" fill="white")
                path(d="M55.9182 73.1547H24.84V68.0454L45.6119 35.9L50.7204 40.9985L34.6838 66.0766H55.9182V46.2055L64.637 54.9278V66.0766H65.6243L55.9182 75.7915V73.1547Z" fill="white")
                path(d="M74.1039 73.1562V66.0781H65.6225L55.9164 75.793V89H64.6352V73.1562H74.1039Z" fill="#050608")
                path(d="M64.6352 20.75H55.4008L45.6101 35.9015L50.7186 41L54.8852 34.4844L55.9164 32.6094V46.207L64.6352 54.9292V20.75Z" fill="#050608")
                path(d="M177.355 25.6447L142 61L177.355 96.3553L212.711 61L177.355 25.6447Z" fill="#050608")
                path(d="M166.84 73.1547H197.918V75.7915L207.624 66.0766H206.637V54.9278L197.918 46.2055V66.0766H176.684L192.72 40.9985L187.612 35.9L166.84 68.0454V73.1547Z" fill="white")
                path(d="M197.918 73.1547H166.84V68.0454L187.612 35.9L192.72 40.9985L176.684 66.0766H197.918V46.2055L206.637 54.9278V66.0766H207.624L197.918 75.7915V73.1547Z" fill="white")
                path(d="M216.104 73.1562V66.0781H207.622L197.916 75.793V89H206.635V73.1562H216.104Z" fill="#050608")
                path(d="M206.635 20.75H197.401L187.61 35.9015L192.719 41L196.885 34.4844L197.916 32.6094V46.207L206.635 54.9292V20.75Z" fill="#050608")
                path(d="M106.355 25.6447L71 61L106.355 96.3553L141.711 61L106.355 25.6447Z" fill="#050608")
                path(d="M136.374 28.2181C132.905 23.4993 127.499 21.14 120.155 21.14C114.342 21.14 109.741 22.6421 106.353 25.6462L112 31.2837C113.994 29.2712 116.713 28.265 120.155 28.265C124.624 28.265 127.89 29.9525 129.952 33.3275C132.015 36.6712 133.046 42.015 133.046 49.3587V52.336L141.718 61V49.9681C141.624 40.1556 139.843 32.9056 136.374 28.2181Z" fill="black")
                path(d="M136.515 83.8587C139.983 78.9212 141.718 71.3743 141.718 61.2181V61L132.612 70.102C132.104 73.9806 131.155 77.0193 129.765 79.2181C127.702 82.5306 124.53 84.1868 120.249 84.1868C119.686 84.1868 119.14 84.1573 118.613 84.0984L112.552 90.1536C114.827 90.8945 117.392 91.265 120.249 91.265C127.624 91.265 133.046 88.7962 136.515 83.8587Z" fill="black")
                path(d="M104.077 84.0401C100.577 79.1964 98.765 71.9776 98.64 62.3839V50.8057C98.64 40.7745 100.374 33.3214 103.843 28.4464C104.589 27.3982 105.426 26.4628 106.353 25.64L112 31.2776C111.424 31.8591 110.908 32.5248 110.452 33.2745C108.421 36.6182 107.374 41.7589 107.311 48.6964V62.5714C107.311 69.9464 108.374 75.3995 110.499 78.9307C112.376 81.9764 115.08 83.6969 118.613 84.0922L112.552 90.1474C109.029 89 106.204 86.9642 104.077 84.0401Z" fill="white")
                path(d="M133.046 63.5557V52.3298L141.718 60.9939L132.613 70.0958C132.87 68.1313 133.015 65.9512 133.046 63.5557Z" fill="white")
        .title NOT FOUND
        .desc Sorry, but the page that you requested doesn’t exist
        a.link(routerLink='/') 
            span Home

