acp-viewport
    ng-container('*ngIf'='!loading')
        .container
            .title {{quiz.name}}
            .author {{userName}}
            .date 
                acp-timestamp('[date]'='quiz.date')
        .form-container
            acp-dynamic-form('[config]'='config' '(handleSubmit)'='onSubmit($event)')
