@import "variables/variables";
.modal__container {
    padding: 24px 16px;
    width: 300px;
    &.error {
        background-color: lighten($red, 15);
    }
    &.correct {
        color: $dark;
        background-color: $green;
    }
}

.modal__message {
    text-align: center;
    font-size: 16px;
    font-family: $montserrat;
    color: white;
}
