acp-viewport
    .workshops-container
        .categories
            acp-category-tag(
                '*ngFor'='let category of categories; let i = index'
                '[ctg]'='category.name' 
                '(onCtgSelect)'='onCategorySelect($event)'
                '[index]'='i'
            )
        ul.feed
            acp-article(
                '*acpForRange'='let article of filteredActicles; range: range'
                'acpHighlight'
                '[isHighlight]'='article.author === userid'
                '[routeId]'='article.id'
                '[title]'='article.title'
                '[image]'='article.image'
                '[description]'='article.description'
                '[isFavorite]'='article.isFavorite'
                '[tags]'='article.tags'
                '[date]'='article.date'
                '[likes]'='article.likes'
                '[stars]'='article.stars'
                '[author]'='article.author'
            )
        .tags
            acp-tag(
                '*ngFor'='let tag of tags; let i = index'
                '[tag]'='tag.name' 
                '(onTagSelect)'='onTagSelect($event)' 
                '[index]'='i'
            )
