@import "mixins/mixins";
@import "variables/variables";

:host {
    display: block;
    flex-grow: 1;
}
.bar {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    background-color: lighten($dark, 15);
    height: 40px;
    justify-content: flex-end;
    z-index: 20;
}
.bar__main {
    order: 1;

    height: 100%;
}
.main-controll {
    display: inline-block;
    height: 100%;
    position: relative;
    padding: 12px;
    text-align: center;
    color: $white;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: $primary;
        color: $dark;
    }
}
.feed-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.workshops-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: center;
}
.feed {
    margin: 0 8px;
    @include large() {
        width: 46%;
    }
    @include medium() {
        width: auto;
    }
}
.empty {
    margin-top: 40px;
    text-align: center;
}
.tags {
    position: sticky;
    margin-top: 40px;
    top: 80px;
    display: flex;
    width: 130px;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    @include medium() {
        display: none;
    }
}

.categories {
    position: sticky;
    width: 130px;
    top: 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    @include medium() {
        display: none;
    }
}

.pagination {
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.current {
    font-size: 24px;
    font-family: $objsans_bold;
    margin: 0 24px;
}
.controll {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.74;
    transition: opacity 0.3s;
    &:hover {
        text-decoration: underline;
        opacity: 1;
    }
    &.disabled {
        opacity: 0.3;
        cursor: default;
        &:hover {
            text-decoration: none;
            opacity: 0.3;
        }
    }
}
