@import "mixins/mixins";
:host {
    display: block;
    flex-grow: 1;
}
.workshops-container {
    display: flex;
    padding-bottom: 40px;
}
.feed {
    margin: 0 16px;
    @include medium() {
        margin: 0;
    }
}
.tags {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    @include medium() {
        display: none;
    }
}
