acp-viewport
    .workshops-container('*ngIf'='!loading; else loader')
        acp-workshops-bar(
            '[tags]'='tags' 
            '[categories]'='categories' 
            '(onCtgSelect)'='onCategorySelect($event)'
            '(onTgSelect)'='onTagSelect($event)'
        )
        .feed-container
            .categories
                acp-category-tag(
                    '*ngFor'='let category of categories; let i = index'
                    '[ctg]'='category.name' 
                    '(onCtgSelect)'='onCategorySelect($event)'
                    '[index]'='i'
                )
            ul.feed
                ng-container('*ngIf'='count; else empty')
                    acp-article(
                        '*ngFor'='let article of articles'
                        'acpHighlight'
                        '[isHighlight]'='article.author === userid'
                        '[routeId]'='article.id'
                        '[title]'='article.title'
                        '[image]'='article.image'
                        '[description]'='article.description'
                        '[isFavorite]'='article.isFavorite'
                        '[tags]'='article.tags'
                        '[date]'='article.createdAt'
                        '[likes]'='article.likes'
                        '[stars]'='article.stars'
                        '[author]'='article.author'
                        '(delete)'='onArticleDelete($event)'
                    )
            .tags
                acp-tag(
                    '*ngFor'='let tag of tags; let i = index'
                    '[tag]'='tag.name' 
                    '(onTagSelect)'='onTagSelect($event)' 
                    '[index]'='tag.seq'
                )
        .pagination
            .controll.prev('(click)'='onPrevPage()' '[ngClass]'='{disabled: !page}') prev
            .current {{page+1}}
            .controll.next('(click)'='onNextPage()' '[ngClass]'='{disabled: page === maxPage}') next
ng-template('#empty'='')
        .empty No articles for this filters

ng-template('#loader'='')
    .loader
        .sk-double-bounce
            .sk-child.sk-double-bounce-1
            .sk-child.sk-double-bounce-2