ul.comments
    acp-comment-card(
        '*ngFor'='let comment of comments' 
        '[comment]'='comment' 
        '[currentUserId]'='currentUser._id' 
        '(onDelete)'='onDelete($event)'
        '(onEdit)'='onEdit($event)'
    )
    acp-comment-form('[comment]'='comment' '(submit)'='submit($event)')