acp-viewport
    .testdiv(
        'acpCollapse' 
        '[initialCollapse]'='true'
        '[height]'='"100px"' 
        '[isCanCollapse]'='true' 
        '[isAnimation]'='true'
    )
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala
        p bllalallala