@import "variables/variables";
:host {
    display: block;
}
.tab__list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.tab__item {
    flex-grow: 1;
}
.tab__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: lighten($dark, 90);
    color: $dark;
    border: none;
    cursor: pointer;
    height: 36px;
    text-align: center;
    transition: all 0.4s;
    &:hover {
        background-color: $primary;
        color: $dark;
    }
    &:focus {
        outline: none;
    }
}
.tab__button.active {
    background-color: $primary;
    color: $dark;
}
