@import "variables/variables";
:host {
}
.tab__list {
    display: flex;
    flex-wrap: nowrap;
}

.tab__button {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: lighten($dark, 80);
    color: $dark;
    border: none;
    cursor: pointer;
    height: 36px;
    padding: 0 12px;
    transition: all 0.4s;
    &:hover {
        background-color: $primary;
        color: $white;
    }
    &:focus {
        outline: none;
    }
}
.tab__item.active .tab__button {
    background-color: $primary;
    color: $white;
}
