$dark: #050608;
$primary: #fdd000;
$white: #ffffff;
$red: #e3170a;
$green: #08b01c;

$montserrat: "Montserrat";

$objsans: "object_sansregular";
$objsans_bold: "object_sansheavy";
$objsans_italic: "object_sansslanted";
$objsans_bold_italic: "object_sansheavy_slanted";
