@import "variables/variables";
@import "mixins/mixins";

:host {
    display: block;
    background-color: $dark;
    height: 70px;
    padding: 0 24px;
    & button {
        border: none;
        background-color: transparent;
        padding: 0;
    }
}
.header__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
}
.header__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header__menu-icon {
    cursor: pointer;
    display: none;
    outline: none;
    @include small() {
        display: block;
    }
    & i {
        color: $white;
        font-size: 32px;
        transition: color 0.4s;
        &:hover {
            color: $primary;
        }
    }
}

.header__logo {
    height: 50px;
    width: 85px;
    & img {
        height: 100%;
    }
    @include small() {
        display: none;
    }
}

.header__search {
    margin-left: 16px;
    cursor: pointer;
    outline: none;
    & i {
        color: $white;
        font-size: 32px;
        transition: color 0.4s;
        &:hover {
            color: $primary;
        }
    }
}
.header__close-btn {
    cursor: pointer;
    margin-right: 16px;
    outline: none;
    & i {
        color: $red;
        font-size: 32px;
        transition: color 0.4s;
        &:hover {
            color: darken($red, 26%);
        }
    }
}
.header__search--open {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;

    & input {
        padding: 8px 12px;
        width: 100%;
        background-color: $dark;
        border: none;
        border-bottom: 1px solid $dark;
        color: $white;
        transition: border-color 0.4s;
        font-size: 16px;
        &:focus {
            border-color: lighten($dark, 26);
        }
    }
}
.header__item--user {
    justify-content: flex-end;
    cursor: pointer;
    max-width: 500px;
    margin-left: 40px;
    &:hover {
        & .header__user-name {
            color: $white;
        }
    }
}
.header__user-name {
    flex: 1;
    color: $white;
    font-size: 16px;
    text-align: right;
    color: darken($white, 14%);
    transition: color 0.4s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include medium() {
        display: none;
    }
}

.header__user-avatar {
    margin-left: 16px;
    height: 40px;
    width: 40px;
    @include medium() {
        margin-left: 0;
    }
}
