.header__container([ngClass]='{activeSearch: isSearch}')
    .header__item
        a.header__logo(routerLink='/')
            acp-svglogo('[isDark]'='isSearch')
        button.header__menu-icon('(click)'="toggleSideMenu()")
            i([ngClass]='isMenu ? "icon-close" : "icon-menu"')
        .search-bar([ngClass]='{active: isSearch}')
            button.header__search-controll('(click)'="toggleSearch()")
                i([ngClass]='isSearch ? "icon-close" : "icon-search"')
            input(name='search' '#search'='' placeholder='Start typing')
            button.header__search()
                i.icon-search
        .after
            svg(viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0 0H50V25V50H0L50 25L0 0Z")
    .header__item--user('(click)'="account()")
        .header__user-name {{user.name}}
        .header__user-avatar
            acp-user-pic('[src]'='user.img' '[name]'='user.name')