.header__container
    ng-container(*ngIf='!isSearch; else headerControls')
        .header__item
            .header__logo
                img(src="{{logoSrc}}" alt='ACP')
            button.header__menu-icon('(click)'="toggleSideMenu()")
                i([ngClass]='isMenu ? "icon-close" : "icon-menu"')
            button.header__search('(click)'="toggleSearch()")
                i.icon-search
        .header__item.header__item--user('(click)'="account()")
            .header__user-name {{user.name}}
            .header__user-avatar
                acp-user-pic('[src]'='user.img' '[name]'='user.name')
        
ng-template(#headerControls="")
    .header__search--open
        button.header__close-btn('(click)'='toggleSearch()')
            i.icon-close
        input(name='search' placeholder='Start typing')
