textarea.comment__input(
    '[formControl]'='inputControl' 
    '[ngClass]'='{err: errmsg}' 
    '(focus)'='focus()' 
    placeholder='Enter your comment'
    '(keydown)'='autosize($event)'
    )
button.comment__button('(click)'='onSubmit()') 
    i.icon-check
.error('[ngClass]'='{active: errmsg}') {{errmsg}}