acp-card
    .header
        a.article__image('[routerLink]'="routePath")
            img('[src]'='image' alt='Article image')  
        .date
            acp-timestamp('[date]'='date')  
    .content
        a.article__link('[routerLink]'="routePath")
            h2.article__title {{title}}
        ul.article__tags('*ngIf'='tags')
            li.article__tag('*ngFor'='let tag of tags') {{tag}}
        .article__description {{description}}
    .footer
        .footer-container
            .author
                span {{userName}}
            .points
                .likes
                    acp-like('[isActive]'='isLike' type='like' '[count]'='likes' '(onLikeToggle)'='likeToggle()')
                .stars
                    acp-like('[isActive]'='isFavorite' type='star' '[count]'='stars' '(onLikeToggle)'='favoriteToggle()')
        .controls('*ngIf'='isAuthor')
            i.icon-mode_edit('(click)'='onEditClick()')
            i.icon-close('(click)'='onDeleteClick()')
